h3 {
  float: left;
  margin: 10px 0;
}

table {
  width: 100%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.mat-form-field {
  font-size: 14px;
  float: right;
}

.table-container {
  max-height: 400px;
  overflow: auto;
  position: relative;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding: 10px;
}

td.mat-cell {
  border: 0;
}

.mat-paginator-sticky {
  left: 0;
  bottom: 0px;
  position: sticky;
  z-index: 10;
}
